.more-feature-item {
    font-family: "Rockwell";
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
    .more-feature-item {
        font-size: 14px;
    }
}

.dark-feature-item {
    color: azure;
}

.color-feature-item {
    color: rgb(37, 7, 65);
}