
.color-nav-item-lg {
  font-family: Bahnschrift;
  font-size: 19px;
  cursor: pointer;
  font-weight: 700;
  color: rgb(86, 10, 157);
  text-shadow: 0px 1px 1px black;
  margin: 0px;
}



.active-lg-nav-button-color {
  color: azure;
  font-family: Bahnschrift;
  text-shadow: 1px 1px 2px black;
}

.dark-nav-item-lg {
  font-family: Bahnschrift;
  font-size: 19px;
  cursor: pointer;
  font-weight: 700;
  color: #ffffff;
  margin: 0px;
}


.active-lg-nav-button-dark {
  color: rgb(123, 105, 192);
  text-shadow: 1px 1px 2px black;
  font-family: Bahnschrift;
}

.active-sm-nav-button-dark {
  color: azure;
  font-family: Bahnschrift;
  text-shadow: 1px 1px 2px rgb(253, 254, 253);
  font-weight: 600;
}


.light-nav-item-sm {
  font-family: Bahnschrift;
  font-size: 17px;
  cursor: pointer;
  font-weight: 400;
  color: #e6f4ec;
  margin: 0px;
}



.link-item {
  text-decoration: none;
}

.link-item-sm-color {
  text-decoration: none;
  color: rgb(47, 10, 81);
}

.link-item-sm-dark {
  text-decoration: none;
  color: rgb(157, 116, 194);
}

.nav-item-sm-item {
  list-style-type: none;
  margin: 6px;
}

.nav-item-lg-item {
  list-style-type: none;
}

@media screen and (max-width: 767px) {
  .nav-item-lg-item {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav-item-sm-item {
    display: none;
  }
}

.nav-bar-hr-line {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px dashed rgb(231, 130, 240);
}
