.project-list-item {
  display: flex;
  flex-direction: column;
  width: 90%;
  border-radius: 12px;
  border: 2px solid rgb(220, 214, 235);
  box-shadow: 0px 0px 10px 0px #0c0c0c;
  padding: 12px;
  margin: 16px;
}

.color-project-list-item {
 background-color: azure;
}

.dark-project-list-item {
  background-image: linear-gradient(
    to right,
    rgb(24, 2, 45),
    rgb(0, 0, 0)
  );
}

.project-name {
  text-align: center;
  font-family: Comic Sans MS;
  font-size: 30px;
  font-weight: 800;
}

.dark-project-name {
  color: rgb(208, 168, 245);
  text-shadow: 0px 1px 3px blueviolet;
}

.color-project-name {
  color: rgb(55, 17, 91);

}

.project-list-item:hover {
  box-shadow: 0px 0px 8px 1px #cd87f1;
  border: 2px dashed rgb(181, 114, 228);
  width: 92%;
  .project-name {
    font-size: 36px;
  }
}

.a-tag-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  padding-bottom: 8px;
  padding-top: 8px;
  background-color: blue;
}
.color-visit-project-button {
  cursor: pointer;
  border-radius: 16px;
  box-shadow: 0px 0px 4px 0px rgb(46, 38, 38);
  background-image: linear-gradient(to right, mintcream,
    rgb(181, 114, 228) );
  border: 1px solid white;
  color: #070607;
  font-family: Segoe Print;
  font-weight: 600;
  font-size: 11px;
}

.color-visit-project-button:hover {
  box-shadow: 0px 0px 8px 2px rgb(11, 11, 11);
  font-size: 12px;
  font-weight: 800;
  border-radius: 16px;
}

.dark-visit-project-button {
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0px 0px 4px 0px black;
  background-image: linear-gradient(to right, rgb(24, 2, 45),
    rgb(2, 2, 2) );
  border: 1px solid #4d4a4d;
  color: #ffffff;
  font-family: Segoe Print;
  font-weight: 400;
  font-size: 11px;
}

.dark-visit-project-button:hover {
  box-shadow: 0px 0px 5px 2px rgb(94, 93, 93);
  font-size: 12px;
  font-weight: 800;
  border-radius: 12px;
}

@media screen and (max-width: 767px) {
  .project-name {
    font-size: 26px;
  }
  .project-list-item:hover {
    .project-name {
      font-size: 30px;
    }
  }
}

.dark-description {
  color: rgb(255, 255, 255);
}

.color-description {
  color: rgb(55, 17, 91);
}