.color-contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 130px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 0px 6px 0px black;
    background-image: radial-gradient(circle, blueviolet, rgb(18, 7, 28));
    margin: 16px;
}

.color-contact-item:hover {
    box-shadow: 0px 0px 10px 2px rgb(7, 7, 7);
}

.dark-contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 130px;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid #ffffff;
    background-image: linear-gradient(to left, rgb(24, 2, 45),
    rgb(14, 14, 15));
    margin: 16px;
}

.dark-contact-item:hover {
    box-shadow: 0px 0px 7px 0px rgb(252, 252, 253);
}




.contact-logo-item {
    width: 30px;
   
}

.contact-title {
    color: cornsilk;
    font-size: 16px;
    font-weight: 600;
    margin: 10px;
    font-family: Segoe Print;
}

.contact-display {
    color: cornsilk;
    font-size: 10px;
    font-family: Rockwell;
    font-weight: 400;
    margin: 0px;
}

@media screen and (max-width: 767px) {
    .contact-item {
        width: 160px;
        height: 100px;
    }

    .contact-logo-item {
        width: 26px;
    }

    .contact-title {
        font-size: 14px;
    }

    .contact-display {
        font-size: 10px;
    }
}