.skill-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    margin-left: 26px;
    margin-right: 26px;
    width: 86px;
    border-radius: 20px;
    padding: 10px;
}
.dark-skill-item-container {
    border: 1px solid #ffffff;
    box-shadow: 0px 0px 14px 0px black;
}
.color-skill-item-container {
    border: 1px solid rgb(55, 6, 69);
    box-shadow: 0px 0px 7px 1px rgb(250, 250, 250);
}


.dark-skill-item-container:hover {
    box-shadow: 0px 0px 10px 0px rgb(199, 164, 249);
    width: 90px;
}

.color-skill-item-container:hover {
    box-shadow: 0px 0px 10px 0px rgb(7, 7, 7);
    background-color: rgb(179, 118, 236);
    border: 1px solid rgb(248, 237, 237);
    width: 90px;
}

.skill-icon {
    width: 44px;
}

.skill-item-name {
    font-size: 13px;
    font-weight: 500;
    font-family: Segoe Print;
    margin: 0px;
}
.dark-skill-item-name {
    color: azure;
}
.color-skill-item-name {
    color: rgb(7, 7, 7);
}

@media screen and (max-width: 767px) {
    .skill-item-container {
        width: 70px;
    }
    .skill-item-container:hover {
        width: 74px;
    }
    .skill-icon {
        width: 28px;
    }
    .skill-item-name {
        font-size: 10px;
    }
}