.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 100%;
    background-color: blueviolet;
    border: 1px solid black;
    position: fixed;
}

.navbar-container-lg {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 66%;
    width: 700px;
    background-color: rgb(4, 2, 5);
    border-radius: 16px;
    border: 2px solid rgb(38, 12, 98);
    box-shadow: 0px 0px 10px 2px #9407a4;
}

@media screen and (max-width: 767px) {
    .header-container {
        justify-content: flex-end;
        height: 70px;
        display: none;
    }
    .navbar-container-lg {
        display: none;
    }
}

.navbar-container-sm {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 66px;
    width: 100%;
    background-color: blueviolet;
    padding-right: 14px;
}

@media screen and (min-width: 768px) {
    .navbar-container-sm {
        display: none;
    }
}

.nav-button-hamburger {
    display: flex;
    align-self: flex-end;
    background-color: #cfb7eb;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.nav-menu-icon {
    font-size: 20px;
    font-weight: 800;
    color: #9407a4;
}

.nav-hamburger-image {
    width: 20px;
}


.navbar-container-menu-sm {
    display: flex;
    flex-direction: column;
    height: 230px;
    width: 100%;
    background-color: blueviolet;
    border: 1px solid black;
    position: fixed;
    padding: 14px;
    list-style-type: none;

}

@media screen and (min-width: 768px) {
    .navbar-container-menu-sm {
        display: none;
    }
}

.nav-bar-button-close {
    display: flex;
    align-self: flex-end;
}