.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    width: 100%;
    padding-left: 28px;
    padding-right: 12px;
    position: fixed;
    z-index: 1000;
}

.dark-header-container {
    background-color: rgb(9, 1, 12);
    box-shadow: 0px 0px 6px 0px rgb(98, 13, 135);
}

.color-header-container {
    background-color: rgba(198, 161, 234, 0.961);
    box-shadow: 0px 0px 6px 2px black;
    filter: contrast(11px);
}

.nav-head-lg {
   font-family: Brush Script MT;
   font-size: 50px;
}
.nav-head-lg:hover {
    font-size: 38px;
}
.light-nav-head-lg {
    color: #ffffff;
    text-shadow: 0px 5px 3px blueviolet;
}
.color-nav-head-lg {
    color: rgb(0, 2, 3);;
    text-shadow: 0px 5px 3px rgb(232, 240, 240);
}

@media screen and (max-width: 767px) {
    .nav-head-lg {
        font-size: 36px;
    }
    .nav-head-lg:hover {
        font-size: 30px;
    }
}

.light-nav-head-sm {
    color: #ffffff;
    text-shadow: 0px 5px 3px blueviolet;
}
.color-nav-head-sm {
    color: rgb(0, 2, 3);;
    text-shadow: 0px 5px 3px rgb(232, 240, 240);
}


.navbar-container-lg {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 66%;
    width: 40%;
    border-radius: 16px;
}

.nav-dark-container-lg {
    background-color: rgb(24, 3, 31);
    box-shadow: 0px 0px 2px 2px rgb(162, 160, 162);
}

.nav-color-container-lg {
    background-color: rgb(216, 202, 230);
    box-shadow: 0px 0px 2px 2px rgb(243, 240, 243);
}

@media screen and (min-width: 768px) and (max-width: 1050px) {
    .navbar-container-lg {
        width: 56%;
    }
}

@media screen and (max-width: 767px) {
    .header-container {
        justify-content: flex-end;
        height: 70px;
        display: none;
    }
    .navbar-container-lg {
        display: none;
    }
}

.navbar-container-sm {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    width: 100%;
    padding-right: 14px;
    padding-left: 22px;
    z-index: 1000;
}

.color-navbar-container-sm {
    background-color: rgba(198, 161, 234, 0.961);
    box-shadow: 1px 1px 10px 0px black;
}

.dark-navbar-container-sm {
    background-color:  rgb(9, 1, 12);
    box-shadow: 0px 0px 7px 0px rgb(254, 253, 253);
}

@media screen and (min-width: 768px) {
    .navbar-container-sm {
        display: none;
    }
}

.nav-button-hamburger {
    background-color: rgb(156, 72, 211);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.nav-button-hamburger:hover {
    background-color: rgb(253, 252, 255);
}

.nav-menu-icon {
    font-size: 20px;
    font-weight: 800;
    color: #9407a4;
}

.nav-hamburger-image {
    width: 20px;
}


.navbar-container-menu-sm {
    display: flex;
    flex-direction: column;
    height: 265px;
    width: 100%;
    border: 1px solid black;
    box-shadow: 1px 1px 10px 3px black;
    position: fixed;
    padding: 14px;
    list-style-type: none;
    z-index: 1000;
}

@media screen and (min-width: 768px) {
    .navbar-container-menu-sm {
        display: none;
    }
}

.color-navbar-container-menu-sm {
    background-image: linear-gradient(to top, rgba(203, 218, 211, 0.938), rgba(179, 135, 240, 0.947));
}
.dark-navbar-container-menu-sm {
    background-image: linear-gradient(to top,rgb(24, 2, 45),
    rgb(0, 0, 0));
}

.nav-bar-button-close {
    display: flex;
    align-self: flex-end;
}

.toggle-theme-button-sm {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 10px;
    border: none;
}


.BsBrightnessHigh {
    color: rgb(252, 251, 253);
    font-weight: bold;
}

.IoMoon {
    color: #250229;
}

.theme-icon {
    width: 15px;
}

.dark-toggle {
    background-color: #000000;
    border: 1px solid white;
}