.feature-item {
    font-family: "San serif";
    font-size: 18px;
    font-weight: 600;
}

.dark-feature-item {
    color: #ffffff;
}

.color-feature-item {
    color: rgb(55, 17, 91);
}

@media screen and (max-width: 767px) {
    .feature-item {
        font-size: 16px;
    }
}